/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/




@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
           url('../fonts/ProximaNova-Regular.woff') format('woff'),
           url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
           url('../fonts/ProximaNova-Regular.svg#font-name') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Medium';
    src: url('../fonts/ProximaNova-Medium.eot');
    src: url('../fonts/ProximaNova-Medium.eot?#iefix') format('embedded-opentype'),
           url('../fonts/ProximaNova-Medium.woff') format('woff'),
           url('../fonts/ProximaNova-Medium.ttf') format('truetype'),
           url('../fonts/ProximaNova-Medium.svg#font-name') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-SemiBold';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
           url('../fonts/ProximaNova-Semibold.woff2') format('woff'),
           url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
           url('../fonts/ProximaNova-Semibold.svg#font-name') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
           url('../fonts/ProximaNova-Bold.woff') format('woff'),
           url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
           url('../fonts/ProximaNova-Bold.svg#font-name') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-AltBold';
    src: url('../fonts/ProximaNova-AltBold.eot');
    src: url('../fonts/ProximaNova-AltBold.eot?#iefix') format('embedded-opentype'),
           url('../fonts/ProximaNova-AltBold.woff') format('woff'),
           url('../fonts/ProximaNova-AltBold.ttf') format('truetype'),
           url('../fonts/ProximaNova-AltBold.svg#font-name') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-ExtraBold';
    src: url('../fonts/ProximaNova-Extrabld.eot');
    src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
           url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
           url('../fonts/ProximaNova-Extrabld.ttf') format('truetype'),
           url('../fonts/ProximaNova-Extrabld.svg#font-name') format('svg');
    font-weight: normal;
    font-style: normal;
}


// font stacks
$sans-serif:        "ProximaNova-Regular", Helvetica, Arial, sans-serif;
$serif:             "Merriweather", Cambria, Times New Roman, Times, serif;

/*
 i imported this one in the functions file so corise would look sweet.
 don't forget to remove it for your site.
*/

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/

.text-white {
  color: #fff;

}

p {       
  //text-align: justify;
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
      word-break: break-word;
     word-break: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;

}