/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

/*********************
HEADER STYLES
*********************/

.header {
	.menu-btn {
		display: none;
	}

	.search-btn {
		display: block;
		margin-top: 30px;
	}

	nav {
		display: block;
		clear: none;
		margin-top: 34px;
		position: static;
		padding: 0;
		float: right;
		background: none;
		width: auto;
		margin-right: 30px;

		li {
			margin: 0 20px;
		}

		.menu-cta {
			padding: 14px 20px;
			background: #2e6bb4;
			border-radius: 25px;
			margin-top: -14px;
		}
	}
}

	#logo {}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border: 0;
	float: right;

	> li {
		padding-bottom: 35px;
	}

	ul {
		margin-top:0;
	}
	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $white;
				text-decoration: underline;
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			background: rgba(5,149,213,0.8);
			margin-top: 0;
			border-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;
			-webkit-box-shadow: inset 1px 4px 3px -1px rgba(46,107,180,1);
			-moz-box-shadow: inset 1px 4px 3px -1px rgba(46,107,180,1);
			box-shadow: inset 1px 4px 3px -1px rgba(46,107,180,1);

			li {
				line-height: 1;
				margin: 0;
				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 220px;
					text-decoration: none;
					line-height: 1;
					padding: 23px 0 23px 45px;
					border-bottom: 1px solid #99d0e7;


					&:hover,
					&:focus {
						background: rgba(8,186,234,0.8);
						-webkit-box-shadow: inset 0px 2px 2px 0px rgba(7,152,192,1);
						-moz-box-shadow: inset 0px 2px 2px 0px rgba(7,152,192,1);
						box-shadow: inset 0px 2px 2px 0px rgba(7,152,192,1);

						position: relative;

						&:after {
							content: "";
							width: 100%;
							height: 2px;
							position: absolute;
							bottom:0px;
							left: 0;
							-webkit-box-shadow: inset 0px 2px 2px 0px rgba(45,196,237,.6);
							-moz-box-shadow: inset 0px 2px 2px 0px rgba(45,196,237,.6);
							box-shadow: inset 0px 2px 2px 0px rgba(45,196,237,.6);

						}
					}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: 56px;
			left: -30px;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */


.rating-box {
	padding: 45px;

	.text {
		padding-left: 45px;
	}

	.rating {
		span {
			margin: 0 4px;
		}
	}
}

.home-buttons {

	.wpb_text_column {
		.btn-slide {
			position: absolute;
			top: -5px;
			right: 0px;
			margin-top: 0;
		}
	}
}





.faq_toggle {
	padding-bottom: 67px;
}


.faq_toggle_title {
	width: 70%;
	float: left;
	border-right: 4px solid #bed62f;
	margin-right: -4px;
	padding-bottom: 0;

	h4 {
		font-size: 37px;
		padding-right: 20px;
	}
}

.vc_toggle_content {
	display: block;
	height: 0px;
	margin-top: 0;
	border-left: 4px solid #bed62f;
	border-top: 0;
	padding-top: 0;
	padding-left: 24px!important;

	p {
		width: 50%;
		float: left;
		text-align: justify;
		padding: 10px;
	}

}

.faq_toggle .arrow.ar-mobile {
	display: none;
} 

.faq_toggle .arrow {
	pointer-events: all;
	right: 140px;
	bottom: 40%;
	display: block;
	width: 100px;
	height: 50px;
	top: auto;
}

.faq_toggle.opened .arrow {
	bottom: 40px;
}

body .right-bg {
	background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position-x: 50%!important;
    background-position-y: center!important;

    padding-top: 94px!important;
	.five-col {
		order: 1;
		width: 50%;
	}

	.mobile-img {
		order: 2;
		width: 50%;

		
		.wpb_single_image {
			display: none;
		}
	}
}



.subfooter {
	.wpb_single_image {
		padding-left: 60px!important;
	}
}

.footer {
	.sidebar {

		.widget_text {
			margin-right: 70px;
			padding-right: 70px;
		}

		.widget_nav_menu {
			width: 16%;
		}
	}
}