/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
  width: 1420px;
}


.hero {
	.subheading {

		line-height: 1;
		font-size: 21px;
	}

	.heading {

		font-size: 50px!important;

		strong {
			font-size: 50px!important;
		}
	}
}


.home-buttons {

	.wpb_text_column {
		padding-right: 55px;
    	padding-left: 55px;

    	.btn-slide {
    		right: 55px;
    	}
    }
}

.download-col, .five-col {
	padding-right: 100px;
}


//mri page
body.page-id-291 .right-bg {
	background-position-x: right!important;
}