/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	font-size: 23px;
	line-height: 1.55;
	color: $text-color;
	background-color: $white;
  -webkit-font-smoothing: antialiased;
}

html,body {
	overflow-x: hidden;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;
	outline: 0!important;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	margin: 0;
	font-weight: 400;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}

	b,
	strong,
	.strong {
	    font-family: inherit!important;
	}
}



h1, .h1 {
	font-size: 51px;
	
}

h2, .h2 {
	font-size: 42px;
	font-weight: 300;
	font-family: $serif;
	
}

h3, .h3 {
	font-size: 31px;
	font-family: $serif;
}

h4, .h4 {
	font-size: 28px;
	line-height: 1.28;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: #0595d5;
	position: relative;
	position: fixed;
    z-index: 999;
    width: 100%;

	nav {
		display: none;
		clear: both;
		position: static;
	    width: 100%;
	    height: auto;
	    top: 100%;
	    z-index: 999;
	    left: 0px;
	    padding-left: 2%;

		li {
			margin: 17px 0;
		}
	}

	.menu-btn {
		display: block;
		float: right;
		margin: 0 0 0 20px;
		cursor: pointer;

		&:before {
			content: "\f0c9";
			width: 30px;
			height: 30px;
			display: block;
			font-family: FontAwesome;
			font-size: 30px;
			color: #fff;
		}
	}

	.search-btn {
		display: none;
		float: right;
		width: 25px;
		height: 25px;
		background: url(../images/icon_search.png) no-repeat center;
		cursor: pointer;
		margin-top: 10px;
		position: absolute;
		right: 0;
		z-index: 999;
		background-size: 23px!important;

		&.close {
			background: url(../images/icon_close.png) no-repeat center;
		}
	}
}

	#logo {
		margin: 10px 0 4px;
		float: left;

		a {
			color: $white;
		}
	}


//search box
#inner-header {
	position: relative;
}

body div[id*='ajaxsearchlite'].wpdreams_asl_container {
	float: right;
    width: 78%!important;
    position: absolute;
    right: 0px;
    background-image: none!important;
    background-color: #0595d5!important;
    padding: 20px 0;
    display: none;
    

    .probox {
    	background-image: none!important;
    	background-color: #0595d5!important;
    	border-bottom: 2px solid #fff!important;
    }
}

.promagnifier {
	display: none!important;
}

body #ajaxsearchlite1 .probox .proinput input, div.asl_w .probox .proinput input {
	font-size: 34px;
	font-family: 'ProximaNova-Regular', $sans-serif;
	height: auto;
	line-height: 45px;
	height: 45px;

	&::selection {
		background-color: #1e91c5;
	}
}

div.asl_w .probox .proinput input.autocomplete {
	margin-top: -45px!important;
}

#ajaxsearchlite1 .probox, div.asl_w .probox {
	height: auto;
}

//results box
div.asl_r.vertical {
	background: #fff;
	margin-top: -5px;
	border-radius: 0 0 10px 10px;
	padding: 30px 20px 30px 100px;
}

div.asl_r.vertical .results .asl_spacer {
	display: none;
}

div.asl_r.vertical .results .item.hovered {
	background: #fff;
}

div.asl_r .results .item .asl_content h3, div.asl_r .results .item .asl_content h3 a {
	font-size: 23px!important;
	color: #2e6bb4;
	font-family: 'ProximaNova-Bold', sans-serif!important;
	line-height: 1.1!important;
	float: left;
	margin-top: 2px;
	padding-right: 15px;
	&:after {
		content: "-";
		padding-left: 7px;
	}
}

div.asl_r .results .item .asl_content h3 a {	
	border-bottom: 1px solid #2e6bb4;
	padding-right: 0;
	&:after {
		content: none;
		
	}
}

div.asl_r .results .item .asl_content .asl_desc {
	font-size: 23px;
	color: #222;
	font-family: 'ProximaNova-Regular', sans-serif;
	float: left;
	line-height: 1.1!important;
	margin: 0;
}

div.asl_m .probox .proclose svg {
	display: none;
}

div.asl_m .probox .proloading {
	margin-right: 30px;
	margin-top: 2px;
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;

	li {
		
		a {
			display: block;
			color: $white;
			line-height: 1;
			font-family: 'ProximaNova-SemiBold', $sans-serif;
			font-size: 21px;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

.justify {
	text-align: justify;
	-ms-word-break: break-all;
  -ms-word-wrap: break-all;
      word-break: break-word;
     word-break: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
}

#content {
	padding-top: 171px;
}

		.hentry {
			

			header {
				
			}

			footer {

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

.vc_row {
    margin-left: -20px;
    margin-right: -20px;
}

.vc_column_container>.vc_column-inner {
    padding-left: 20px;
    padding-right: 20px;
}

.read-more {
	font-family: "ProximaNova-Bold", $sans-serif;
	display: inline-block;
	margin-top: 13px;
	padding-right: 45px;
	background: url(../images/arrow_black.svg) no-repeat right center;
}

.top-bar {

	background-color: $dark-blue;
	padding: 10px 0;

	p,li,a {
		font-size: 16px;
		color: #fff;
		margin: 0;
		line-height: 1;
	}

	p {
		float: left;
		font-family: 'ProximaNova-SemiBold';
		line-height: 1.2;
	}

	ul {
		margin:0;
		float: none;
    	clear: both;
    	padding-top: 7px;

		li {
			float: left;

			&.active a {
				font-family: 'ProximaNova-ExtraBold';
			}
		}
	}
}

.hero {
	.subheading {
		
		font-family: 'ProximaNova-ExtraBold', $sans-serif;
		// line-height: 1;
		padding-bottom: 20px;
		// font-size: 21px;
	}

	.heading {
		border-top: 5px solid #bed62f;
		display: inline-block;
		// font-size: 50px!important;
		padding-top: 15px!important;

		strong {
			// font-size: 50px!important;
			font-family: inherit;
		}
	}
}

#rev_slider_1_1 {
	.tp-bgimg {
		position: relative;
		
		&:after {
			content: " ";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(255,255,255,0.65);
		}
	}
}

.rating-row	{
	overflow: visible!important;
}

.rating-box {
	position: relative;
	display: block;
	max-width: 1100px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: -130px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.21);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.21);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.21);
	padding: 45px 20px;
	text-align: center;

	.text {
		font-size: 21px;
		padding: 15px 0;

		p {
			margin: 0;
		}

		strong {
			display: block;
			font-family: 'ProximaNova-Bold', $sans-serif;
		}
	}

	img {
		display: block;
		margin: 0 auto;
		margin-top: 27px;
	}

	.rating {
		margin-top: 26px;

		span {
			color: transparent;
			font-size: 40px;
			line-height: 1;
    		display: inline-block;
    		position: relative;
    		margin: 0 4px;
    		width: 33.333px;

			&.on:before {
				content: "\2605";
				position: absolute;
				top: 4px;
			    left: 5px;
			    color: #fac800;
			    font-size: 37px;
			}
			&.half:before {
				content: "\2605";
				position: absolute;
				top: 4px;
			    left: 5px;
			    color: #fac800;
			    font-size: 37px;
    			overflow: hidden;
    			width: 16px;
    			color: #fac800;
			}
		}
	}
}

/* Safari 6.1-10.0 */



// .rating-box.safari-only .rating span.on:before,
// .rating-box.safari-only .rating span.half:before {
//     left: 8px;
// }


.home-buttons {
	h4 {
		font-size: 28px;
		font-family: 'ProximaNova-Bold';
		margin-bottom: 10px;

	}

	.wpb_text_column {
		position: relative;

		.btn-slide {
			margin-top: 14px;
		}
	}
}

.animation-text {
	text-align: center;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;

	h3 {
		margin-bottom: 6px;
	}

}


.breadcrumbs {
	width: 100%;
	min-height: 100px;
	display: block;
	background-color: #fff;

	ul {
		margin: 0;
		text-align: center;

		li {
			display: inline-block;
			margin-top: 40px;
			line-height: 1;
			padding-right: 50px;
			background: url(../images/icon_arrow_green.png) no-repeat center right;

			a {
				text-decoration: none;
				cursor: pointer;
				pointer-events: none;
				text-transform: lowercase;
				line-height: 1;
			}

			&:last-child {
				font-family: 'ProximaNova-Bold';
				text-decoration: underline;
				padding-left: 25px;
				padding-right: 0;
				background: none;
			}

			&.home {
				a {
					pointer-events: auto;
				}
			}
		}
	}

}


.download-col {
	h1 {
		font-family: 'ProximaNova-Bold', $sans-serif;
	}

	h3 {
		font-weight: 300;
	}

	h4 {
		font-family: 'ProximaNova-Bold', $sans-serif;
	}

	.wpb_text_column {
		position: relative;

		.btn-slide {
			position: absolute;
			top: 20px;
			right: 20px;
		}
	}
}

.hover-box:hover {
	background-color: #f7f7f7;


}

.hover-box .btn-slide:hover:after {
  right: 10px;
}

body .right-bg {
	padding-top: 0!important;
	background-size: 300%!important;

	.five-col {
		order: 2;
		width: 100%;
	}

	.mobile-img {
		order: 1;
		width: 100%;

		.vc_column-inner {
			padding: 0;

			.vc_single_image-wrapper, .vc_figure, img {
				width: 100%;
				height: auto;
			}
		}
	}
}

.numbers-list {

	.wpb_single_image {
		text-align: center;
	}


	li {
		padding-top: 85px;
		position: relative;
		margin-bottom: 17px;

		&:before {
			    content: "1";
			    display: block;
			    width: 48px;
			    height: 48px;
			    font-family: "ProximaNova-ExtraBold", "ProximaNova-Regular", Helvetica, Arial, sans-serif;
			    border-radius: 50%;
			    border: 4px solid #bed62f;
			    text-align: center;
			    line-height: 48px;
			    position: absolute;
			    left: 0;
			    top: 14px;
		}

		&:nth-child(2):before {
			content: "2";
		}

		&:nth-child(3):before {
			content: "3";
		}

		&:nth-child(4):before {
			content: "4";
		}

		&:nth-child(5):before {
			content: "5";
		}

		&:nth-child(6):before {
			content: "6";
		}

		&:nth-child(7):before {
			content: "7";
		}

		&:nth-child(8):before {
			content: "8";
		}

		&:nth-child(9):before {
			content: "9";
		}
	}
}


// TESTIMONIALS

.lvca-testimonials-slider {
	.lvca-icon-quote, .lvca-flex-direction-nav {
		display: none!important;
	}

	.lvca-testimonial-text {
		font-size: 25px;
		line-height: 1.55;
		color: #222;
		font-style: normal;
		max-width: 870px;
		margin-bottom: 80px;
	}

	.lvca-testimonial-user {
	    display: block;
	    margin:0;
	    text-align: center;
	}

	.lvca-testimonial-user .lvca-text {
		display: block;
	}

	 .lvca-testimonial-user .lvca-text .lvca-author-name {
	 	font-family: 'ProximaNova-AltBold', $sans-serif;
	 	color: #515254;
	 	font-size: 20px;
	 	text-transform: none;
	 }
	.lvca-testimonial-user .lvca-text .lvca-author-credentials {
	 	color: #b2b2b2;
	 	font-size: 20px;
	}

	.lvca-flex-control-nav {
		bottom: -50px;
	}
}

.lvca-container .lvca-flex-control-nav li a, .lvca-container .lvca-flex-control-nav li a:hover {
    width: 14px;
    height: 14px;
    background: #cbcbcb;
    border: 2px solid #cbcbcb;
}

.lvca-container .lvca-flex-control-nav li a.lvca-flex-active, .lvca-container .lvca-flex-control-nav li a:hover.lvca-flex-active {
	width: 14px;
    height: 14px;
    background: #fff;
    border: 2px solid #222;
}


//FAQ

.faq_toggle {
	position: relative;
	padding-top: 67px;
	padding-bottom: 20px;
	// display: flex;
 //    flex-wrap: wrap;


 	&.opened {
 		.vc_toggle_content {
			display: block;
			height: 0px;
			margin-top: 0;

			p {
				  -ms-word-break: break-all;
				  -ms-word-wrap: break-all;
				      word-break: break-word;
				     word-break: break-word;
				  // cleaning up the ragged lines and breaks
				  -webkit-hyphens: auto;
				     -moz-hyphens: auto;
				          hyphens: auto;
				  // sets a minimum number of characters before and after the break
				  -webkit-hyphenate-before: 2;
				   -webkit-hyphenate-after: 3;
				           hyphenate-lines: 3;

			}

		}

		.arrow {
			bottom: 30px;
		}
 	}

	&:nth-of-type(even):before{
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		background-color: #f7f7f7;
		padding-right: 3000px;
		margin-right: -3000px;
		padding-left: 3000px;
		margin-left: -3000px;
		display: block;
		z-index: -11;
	}
}

.faq_toggle .arrow.ar-mobile {
	display: block;
} 

.faq_toggle .arrow {
	//pointer-events: none;
	position: absolute;
	right: 30px;
	bottom: 52px;
	display: none;
	width: 30px;
	height: 50px;
	background: url(../images/icon_arrow_down.png) no-repeat center;
	background-size: 100%;
	cursor: pointer;
	@include transition(all 0.14s ease-in-out);


	&.down {
		 -webkit-transform: rotate(180deg);
	    -moz-transform: rotate(180deg);
	    -o-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	    transform: rotate(180deg);
	}

}




.faq_toggle_title {
	width: 100%;
	cursor: pointer;
	border-right: 4px solid #bed62f;
    padding-bottom: 47px;
	
	h4 {
		font-family: $serif;
		font-size: 25px;
		color: #222;
		line-height: 1.45;
		padding-right: 30px;
		
	}

	.vc_toggle_icon {
		display: none!important;
	}
}


.vc_toggle_content {
	display: block;
	height: 0px;
	margin-top: 0;
	padding-left: 0!important;
	padding-top: 20px;

	p {
		text-align: justify;
	}

}

//CONTACT CAROUSEL

.carousel-item {
	position: relative;
	transition: all 300ms ease;

	-webkit-box-shadow: 0px 7px 28px 0px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 7px 28px 0px rgba(0,0,0,0.46);
	box-shadow: 0px 7px 28px 0px rgba(0,0,0,0.46);

	border-radius: 10px;
	max-width: 700px;
	background: #fff;

	img {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.texts {
		padding: 25px;
	}


	h3{
		font-family: 'ProximaNova-SemiBold', $sans-serif;
		font-size: 28px;	
	}

	p {
		opacity: .8;
		font-size: 18px;
	}

	strong {
		font-family: 'ProximaNova-Bold', $sans-serif;
		display: block;
	}

	.bus, .car {
		padding-left: 47px;
		background: url(../images/icon_bus.png) no-repeat 0px 6px;
		background-size: 30px;
		line-height: 1.33;
		margin-bottom: 9px;
		min-height: 56px;
	}

	.car {
		background: url(../images/icon_car.png) no-repeat 0px 9px;
		background-size: 30px;
		

		strong {
			padding-top: 15px;
			border-top: 4px solid #bed62f;
		}
	}

	.read-more {
		margin-top: -15px;
	}

	.separator-color {
		width: 100%;
		height: 17px;
		background: url(../images/separator_color.jpg) repeat-x center;
		background-size: 100%;
	}
}

.slick-list {
	padding-top: 100px!important;
	padding-bottom: 100px!important;
	position: relative;
}

.slick-center {
	//margin-top: -80px;
	z-index: 99;
	position: relative;


}

// .slick-center .carousel-item {
// 	position: relative;
// }

.slick-center .carousel-item{
	transform: scale(1.08);
}



.slick-slide:not(.slick-center) .carousel-item {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

// .slick-slide:not(.slick-center) .carousel-item{
// 	margin-right: -340px;
// 	margin-left: 340px;
// }

// .slick-center + .slick-slide .carousel-item{
// 	margin-right: 340px;
// 	margin-left: -340px;
// }


.slick-prev, .slick-next {
	background: url(../images/icon_arrow_up.png) no-repeat center;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 45px;
    height: 25px;
    z-index: 99;
    background-size: 100%;

}

.slick-prev:before, .slick-next:before {
	display: none;
}

.slick-next {
    right: -24px;
}


.slick-prev {
    left: -24px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


//Contact form

.contact-form {
	h1 {
		text-align: center;
		font-size: 58px;
		font-family: 'ProximaNova-SemiBold', $sans-serif;
	}
}


#map {
	width: 100%;
	height: 700px;
}

#post-not-found, .error404 {
	.hentry {
		padding: 200px 0;
	}
}

.blog, .archive, .search, .single {
	#main {
		padding: 100px 0;
	}
}


/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .corise_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {
		font-family: 'ProximaNova-Bold', $sans-serif;
		font-size: 20px;
		color: #fff;
		margin: 16px 0 7px;
	}

	.widget {

		p,a {
			font-size: 20px;
			color: #fff;
			text-decoration: none;
			margin: 0;

			&:hover {
				color: #fff;
			}

			img {
				display: block;
				margin-top: 21px;
			}
		}

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.subfooter {

	font-family: 'ProximaNova-Medium', $sans-serif;
	overflow: visible!important;
	
	h3 {
		font-size: 35px;
		font-family: $serif;
		font-weight: 700;
		margin: 0 0 5px;
	}

	p {
		font-size: 25px;
		margin: 0;
	}

	small {
		font-size: 20px;
	}

	h4 {
		font-size: 25px;
		font-family: 'ProximaNova-ExtraBold', $sans-serif;
		margin: 0;
	}

	.text-white {
		p {
			font-family: 'ProximaNova-SemiBold', $sans-serif;
		}
	}

	.wpb_content_element {
		margin-bottom: 30px;
	}

	.wpb_single_image {
		margin: 0;
		padding-left: 0!important;
	}

	.wpb_text_column {
		position: relative;

		.btn-slide {
			position: absolute;
			bottom: 0;
			right: 0;
			background-color: #222;

			&:after {
				background: url(../images/arrow_white.svg) no-repeat right center;
			}
		}
	}

	.vc_column_container:nth-child(2)>.vc_column-inner {
		justify-content: flex-end;
	}
}


.footer {
	clear: both;
	background-color: $dark-blue;
	color: $light-gray;

	.sidebar {
		padding: 85px 0;

		ul {
			margin-top: 0;
		}
	}

	.copyright-bar {
		background-color: $navy;
		padding: 16px 0;

		ul {
			margin: 0;
		}

		li, a {
			font-family: 'ProximaNova-Medium', $sans-serif;
			font-size: 16px;
			color: #c0c0c0;
		}

		li {
			line-height: 1.4;
		}
	}
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}